### Preparar ambiente

Primero descomentar las siguientes lineas e instalar PyAthena. Solo se hace la primera vez que se abre la instancia

In [1]:
import sys
!{sys.executable} -m pip install PyAthena

Collecting PyAthena
  Downloading PyAthena-2.1.1-py3-none-any.whl (37 kB)
Requirement already satisfied: boto3>=1.4.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from PyAthena) (1.16.63)
Requirement already satisfied: botocore>=1.5.52 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from PyAthena) (1.19.63)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3>=1.4.4->PyAthena) (0.3.4)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3>=1.4.4->PyAthena) (0.10.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->PyAthena) (2.8.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->PyAthena) (1.26.2)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.5.52->PyAthena) (1.15.0)
Collecting tenacity>=4.1.0
  Downloading tenacity-6.3.1-py2.py3-none-any.whl (36 kB)
Installing collected packages: tenacity, PyAthena
Successfully installed PyAthena-2.1.1 tenacity-6.3.1
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/python3/bin/python -m pip install --upgrade pip' command.

In [2]:
import sys
!{sys.executable} -m pip install pytz

Requirement already satisfied: pytz in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (2019.3)
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/python3/bin/python -m pip install --upgrade pip' command.

#### Conectar con pyathena

In [3]:
from pyathena.pandas.cursor import PandasCursor
from pyathena import connect
import pandas as pd
import time
# agregar directorio en el cual se almacenan las tablas que se van a consultar
directorio = 's3://iadbprod-csd-hub-analyticaldata/graphdata-mobility-temporal/athena-results/'
# base de datos
bd = 'graphdata' # Database in Glue
cursor = connect(s3_staging_dir = directorio, region_name = 'us-east-1', schema_name = bd, cursor_class = PandasCursor).cursor()

#### Lista de tablas de interes

In [4]:
tabla_datos_input = f"veraset_02030409_2020" # Tabla original
tabla_datos_output = f"march_data_200_files" # Tabla modificada para continuar con la query

#### Eliminando tablas

In [5]:
for tabla in [ tabla_datos_output ]:
        query = (f"DROP VIEW IF EXISTS {tabla} ")
        cursor.execute(query)
        print(f" Se ha eliminado la vista: {tabla} ")

 Se ha eliminado la vista: march_data_200_files

#### Renombrar columnas de tabla original

In [6]:
# partition_1 - month
# partition_2 - day
query = (f'''CREATE VIEW {tabla_datos_output}
AS SELECT  device_id AS caid,
        timestamp AS utc_timestamp,
        lat AS latitude,
        lon AS longitude,
        device_os AS id_type,
        accuracy AS accuracy,
        date AS date,
        split_part(date,'-',2) AS partition_1, 
        split_part(split_part(date,'-',3),' ',1) AS partition_2,
        country AS iso_country_code
FROM {tabla_datos_input} ''')
cursor.execute(query)
print(f" Se ha creado la vista: {tabla_datos_output} ")

 Se ha creado la vista: march_data_200_files

In [14]:
query = f'''SELECT iso_country_code,
        COUNT(*) as n_pings,
        COUNT(distinct (caid, utc_timestamp)) as n_pings_unicos
FROM {tabla_datos_output}
WHERE partition_1 = '02' AND partition_2 = '01'
GROUP BY iso_country_code 
ORDER BY iso_country_code '''
cursor.execute(query).as_pandas()

   iso_country_code    n_pings  n_pings_unicos
0                AR   95647318        47823659
1                BO    7050922         3525461
2                BR  769432940       384716470
3                BZ     515158          257579
4                CL   39963640        19981820
5                CO   70212350        35106175
6                CR    5947550         2973775
7                CU     390768          195384
8                DO   10940040         5470020
9                EC   13491982         6745991
10               GD     167942           83971
11               GT    5010864         2505432
12               GY     607024          303512
13               HN    4284390         2142195
14               JM    3081890         1540945
15               KM      19488            9744
16               KN     127292           63646
17               LC     226836          113418
18               LS      51320           25660
19               MX  378199230       189099615
20               PA    3086508         1543254
21               PE   31463306        15731653
22               PY    3352906         1676453
23               SV    3624272         1812136
24               TT    4224372         2112186
25               VC     118208           59104
26               VE    9000474         4500237